.catalog {
  .total-block-padding();

  .catalog__controls {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 50px;
  }
}

.catalog__controls {

  .hotelsFound-label {
    font-family: "PT Sans Bold", "Helvetica";
    font-size: 30px;
    line-height:39px;
  }


  .catalog__controls__sorting {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: unset;

    width: 287px;
    margin-left: 20%;
    padding: 0.75rem;
    border: 2px solid #E6E6E6;

    font-family: "PT Sans Normal", "Helvetica";
    font-size: 18px;
    color: #333333;

    background-image: linear-gradient(180deg, #83B3D3, white);
    background-image: url("/img/icons/dropdown_1.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    background-color: #FFFFFF;
  }



  .changeView-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

    .changeView-buttons__grid-btn,
    .changeView-buttons__slideShow-btn,
    .changeView-buttons__list-btn,
    .changeView-buttons--active {
      width: 48px;
      height: 48px;
      border: solid 2px #E5E5E5;
      border-radius: 4px;
      background-color: white;
    }

    .changeView-buttons__grid-btn {
      background-image: linear-gradient(180deg, #83B3D3, white);
      background-image: url(/img/icons/grid-view.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .changeView-buttons__slideShow-btn {
      background-image: linear-gradient(180deg, #83B3D3, white);
      background-image: url(/img/icons/slideshow-view.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .changeView-buttons__list-btn {
      background-image: linear-gradient(180deg, #83B3D3, white);
      background-image: url(/img/icons/list-view.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .changeView-buttons--active {
      border: solid 2px #000000;
    }

  }

}



.cards-grid {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  margin-top: 56px;

  .hotel-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: white;
    padding: 20px;
    row-gap: 16px;
    margin: auto;
  }
}

.hotel-card {
  .hotel-card__image {
    width: 340px;
    height: 206px;
    background: grey;
    align-self: center;
  }

  .hotel-card__caption {
    font-family: "PT Sans Bold", "Helvetica";
    font-size: 24px;
    color: #000000;
  }

  .hotel-typeAndprice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-family: "PT Sans Normal", "Helvetica";
    font-size: 18px;
    height: 23px;

    .hotel-typeAndprice__type,
    .hotel-typeAndprice__price {
      width: 50%;
    }
  }
}






.hotel-card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  .more-info-link,
  .add-toFavorites-btn {
    display: flex;
    width: 50%;
    height: 37px;

    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    font-family: "PT Sans Bold", "Helvetica";
    font-size: 18px;
  }

  .more-info-link {
    background-color: #756257;
  }

  .add-toFavorites-btn {
    background-color: #83B3D3;
    border-style: none;
    cursor: pointer;
  }

  .add-toFavorites-btn--fav-added {
    background-color: #7DB54F;
  }
}


.hotel-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rating-stars {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      width: 18px;
      height: 17px;
      background-image: linear-gradient(180deg, #83B3D3, white);
      background-image: url("/img/icons/star.svg");
    }

  }

  .rating-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 37px;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-family: "PT Sans Normal", "Helvetica";
    font-size: 16px;
  }
}
