.subscription-form-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .subscription-form{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subscription-form-heading{
      font-family: "PT Sans Bold";
      font-size: 30px;
      text-transform: uppercase;
      xxtext-align: center;
      margin-bottom: 46px;
      color: #000000;
    }

    .subscription-form-text{
      font-family: "PT Sans Normal";
      font-size: 22px;
      text-align: center;

      xxwidth: 720px;
      xxtext-align: center;
      margin-bottom: 46px;
      color: #333333;
    }

    .subscription-form-inputs{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 800px;
      padding:0;

    }

    .email-field{
      width:600px;
      height: 60px;
      padding-left:22px;
      box-sizing: border-box;
      font-family: "PT Sans Normal";
      font-size: 18px;
      border-radius: 10px 0px 0px 10px;
      border-style: none;
      background-color: #F2F2F2;
    }

    .subscription-form-button{
      xxdisplay: none;
      width:200px;
      height: 60px;
      background-color: #83B3D3;
      color:white;
      padding:0;
      border-style: none;
      font-family: "PT Sans Bold";
      font-size: 20px;
      border-radius: 0px 10px 10px 0px;
      text-transform: uppercase;
    }
  }
}
